# Intermediate useless files
*.synctex.gz
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log 
*.nav
*.out
*.snm
*.toc

# Shapefiles
*.shp
*.dbf
*.prj
*.cpg
*.shx

**/IDN_adm/
**/.ipynb_checkpoints/

**/r-tests/rmarkdown-xaringan/libs/
**/r-tests/rmarkdown-beamer/cache/
